#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config PROJECT_DEMO
	tristate "Demo project"
	default y

if PROJECT_DEMO

config PROJECT_DEMO_STACKSIZE
	int "Demo stack size"
	default DEFAULT_TASK_STACKSIZE

endif
